name: Release to production

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  ff-production:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tag commit
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.release.tag_name }}
          fetch-depth: 0              # we need full history to push

      - name: Move production pointer
        run: |
          git config user.name  "GitHub Actions"
          git config user.email "actions@github.com"
          git push origin HEAD:production --force-with-lease
